In [1]:
# Useful Operators
# range function for iteration
# range counts zero as a digit
mylist=[1,2,3]
for _ in range(10):
    print(_)

0
1
2
3
4
5
6
7
8
9

In [2]:
for _ in range(33,43):
    print(_)

33
34
35
36
37
38
39
40
41
42

In [3]:
for _ in range(33,100,3):
    print(_)

33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [4]:
range(1,33,3)

range(1, 33, 3)

In [5]:
list(range(3,33,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [13]:
# please use preferred new f string syntax 
index_count=0
for _ in 'abcde':
    print(f'At index {index_count} the letter is {_}')
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [15]:
# refrain from using old f string syntax from udemy lecture shown below
index_count = 0
for _ in 'abcde':
    print('At index {} the letter is {}'.format(index_count,_))
    index_count+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [16]:
index=0
word = 'Truth'
for _ in word:
    print(word[index])
    index += 1

T
r
u
t
h

In [17]:
# enumerate operator outputs in tuples
word='Truth'
for _ in enumerate(word):
    print(_)

(0, 'T')
(1, 'r')
(2, 'u')
(3, 't')
(4, 'h')

In [18]:
# tuple unpacking can be used to simply enumerate outputs
for x,y in enumerate(word):
    print(y)
    print('\n')

T


r


u


t


h

In [22]:
# zip operator zips together 2 lists outputs a tuple
# will only zip to shortest length list
list1= [1,2,3,4,5]
list2=['a','b','c','d','e']
list3=[100,500,1000]
zip(list1,list2,list3)

In [23]:
for _ in zip(list1,list2,list3):
    print(_)

(1, 'a', 100)
(2, 'b', 500)
(3, 'c', 1000)

In [24]:
list(zip(list1,list2,list3))

[(1, 'a', 100), (2, 'b', 500), (3, 'c', 1000)]

In [25]:
'x' in [1,2,3]

False

In [27]:
'x' in ['x','y','z']

True

In [28]:
'A' in 'Allahu Akbar'

True

In [29]:
'key1' in {'key1':345}

True

In [31]:
x={'key1':345}
345 in x.values()

True

In [32]:
345 in {'key':345}.values()

True

In [33]:
345 in {}.values()

False

In [2]:
list1=[10,250,500,750,1000,1250]
min(list1)

10

In [3]:
max(list1)

1250

In [6]:
from random import shuffle

In [7]:
list1= [0,1,2,3,4,5,6,7,8,9]
shuffle(list1)

In [8]:
list1

[9, 2, 8, 4, 1, 7, 0, 5, 3, 6]

In [9]:
list(range(11,33,3))

[11, 14, 17, 20, 23, 26, 29, 32]

In [10]:
from random import randint

In [11]:
randint(0,100)

73

In [12]:
z= randint(0,999)

In [13]:
z

284

In [60]:
# input operator ouputs as a string
input('Enter your name here: ')

'Muhammad'

In [61]:
Name=input('Enter your name here: ')

In [62]:
Name

'Abdul-Rashid'

In [63]:
type(Name)

str

In [64]:
Age=input('What is your age?: ')

In [65]:
Age

'25'

In [66]:
float(Age)

25.0

In [67]:
type(Age)

str

In [68]:
int(Age)

25

In [69]:
Age=int(Age)

In [70]:
Age

25